@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.drop {
    animation: drop 1.5s ease;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma;
	box-sizing: border-box;
}

body {
	background-color: black;
}

p {
	display: inline;
	margin: 5px;
	font-weight: normal;
}

h3 {
	display: inline;
	font-size: 17px;
}
li {
   display: inline;
}

li a {
	font-size: 25px;
	margin-right: 40px;
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

li a.active {
    color: white;
}

li a:hover {
	background-color: #555;
	color: white;
}

.rainbow-text {
	user-select: none;
	color: white;
	background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
				rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
	background-size: 600vw 600vw;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: slide 10s linear infinite forwards;
	font-family: 'Press Start 2P', cursive;
	letter-spacing: 5px;
	margin-left: 30px;
	margin-top: 20px;
}

@keyframes slide {
0% {
	background-position-x: 0%;
}

100% {
	 background-position-x: 600vw;
	}
		}

.whole {
	-webkit-border-radius: 1%;
	border-radius: 1%;
	width: 27%;
	background-color: #FAFAFA;
	margin-left: auto;
	margin-right: auto;
	margin-top: -300px;
	border: 1px solid #FFFFFF;

}


.logo {
	position: absolute;
	width: 55px;
	height: 55px;
	margin-top: -5px;
	margin-left: 15px;
	border-radius: 50%;
	box-shadow: 3px 6px 9px 2px #880808;
	margin-top: -10px;
}

.footer {
	color:#928E85;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: bold;
	margin-left: 800px;
}
.navbar {
    margin-top: -30px;
}

.top {
	display: flex;
	margin: 5px 0px 5px 10px;
}

.op {
	display: flex;
	color: #000000;

}
.opphoto {
	border-radius: 50%;
	height: 35px;
	width: 35px;
	margin: auto;
	background-position: bottom-right;
	
}

.opinfo {
	display: flex;
	flex-direction: column;
	margin: 0px 0px 0px 10px;

}

.time {
	font-size: 11px;
	color: #696969;
	margin: 0px;
}

.title {
	margin: 10px 0px 5px 10px;
}


.imagecontent {
	display: flex;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;

}

.arrow {
	font-size: 45px;
	margin: auto;
}

.imagemain {
	display: block;
	margin-left: auto; 
	margin-right: auto;
	height: 400px;
	width: 400px;
	margin-left: 15%;
}


.interaction {
	display: flex;
	justify-content: space-between;
	color: #000000;
	margin: 3px 0px 2px;
	padding: 0px 0px 0px 10px;


}

.circlereact {
	height: 14px; 
	width: 14px;
	border-radius: 50%;
	margin: auto;
	background-position: bottom-right;

	
}

.like {
	display: flex;
}

.counter {
	padding: 0px 0px 0px 5px;
	font-size: 12px;
}


.buttons {
	display: flex;
	justify-content: space-between;
	padding: 3px 5px 3px 12px;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
}

.comment {
	display: flex;
	border-radius: 10%;
	margin: 2px 0px 5px; 
	
}
.text {
	font-size: 10px;
	background-color: #FFFFFF;
	padding: 0px 0px 0px 7px;
}

.txtcomment {
	margin: 3px 2px 2px 5px;
}
.icon{
	border-radius: 50%;
	margin-left: -7px;
}

.icon1{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin-left: 1px;
}
.ctroy {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-position: bottom-right;
	background-color: #696969; 
}

.cduch {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-position: bottom-right;
	background-color: #696969;
}

.textcomment {
	border-radius: 2%
	background-color: #A9A9A9;
}

.share {
	font-size: 12px;
}

.txtbutton {
	font-size: 14px;
	font-weight: bold;
}

.name {
	font-size: 11px;
	display: block;
	font-weight: bold;
}

.text {
	margin: 5px 0px 10px 5px;
}

.infocomment {
	border-radius: 5%;
	background-color: #E5E5E5;
	margin: 0px 0px 0px 7px;
	padding: 3px;
}
.heads{
	display: flex;
	justify-content: space-between;
	color: #000000;
	margin: 3px 0px 2px;
	padding: 0px 0px 0px 10px;
}
.chatheads3{
	float: right;
	margin-top: 10%;
	margin-left: 80%;
	border-radius: 50%;		
	height: 60x; 
	width: 60px;		
		}
.ctext{
	color: black;
	word-spacing: 5px;
}
.cheads{
	display: flex;
	float: right;
	margin-right: 20%;
	margin-top: -9%;
	color: #000000;
}
.cheads1{
	display: flex;
	float: right;
	margin-right: 20%;
	margin-top: -5.5%;
	color: #000000;
}
.cheads2{
	display: flex;
	float: right;
	margin-right: 20%;
	margin-top: -2%;
	color: #000000;
}
.ctext1{
	border: 1px solid white;
	font-family: 'Verdana';
	border-radius: 5%;
	background-color: #E5E5E5;
	padding: 3px;
}
.back{
	display: flex;
	float: left;
	color: white;
	font-family: 'Verdana';
	margin-top: -4%;
	margin-left: 2%;
	border: 1px solid white;
	padding: 10px;
	
}
.next{
	display: flex;
	float: right;
	margin-top: -4%;
	margin-right: 2%;
	color: white;
	font-family: 'Verdana';
	border: 1px solid white;
	padding: 10px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    border: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin-right: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #880808;
    width: 150px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    background-color: #555;
    color: white;
}