	/* NAVIGATION BAR */
	.rainbow-text {
		user-select: none;
		color: white;
		background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
					rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
		background-size: 600vw 600vw;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		animation: slide 10s linear infinite forwards;
		font-family: 'Press Start 2P', cursive;
		letter-spacing: 5px;
		margin-left: 30px;
	}

	@keyframes slide {
		0% {
			background-position-x: 0%;
		}

		100% {
			background-position-x: 600vw;
			}
		}

	@keyframes drop {
        0% {
            opacity: 0;
            transform: translateY(-80px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
	.drop {
        animation: drop 1.5s ease;
        overflow-y: scroll; /* Add the ability to scroll */
    }

	.logo {
		position: absolute;
		width: 55px;
		height: 55px;
		margin-top: -11px;
		margin-left: 15px;
		border-radius: 50%;
		box-shadow: 3px 6px 9px 2px #880808;
	}

	.navbar {
		margin-right: -10px;
		margin-top: -60px;
	}

	li {
		display: inline;
	}

	li a {
		font-size: 25px;
		margin-right: 40px;
		text-decoration: none;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
	}

	li a.active {
		color: white;
	}

	li a:hover {
		background-color: #555;
		color: white;
	}

	body {
		background-color: black;
	}

	.footer {
		color:#928E85;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		font-weight: bold;
	}

	.dropbtn {
	    background-color: transparent;
	    color: white;
	    border: transparent;
	    font-family: 'Open Sans', sans-serif;
	    font-size: 25px;
	    margin-right: 40px;
	}

	.dropdown {
	    position: relative;
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f1f1f1;
	    width: 150px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}

	.dropdown-content a {
	    color: black;
	    padding: 5px 10px;
	    text-decoration: none;
	    display: block;
	    font-size: 16px;
	}

	.dropdown-content a:hover {
	    background-color: #880808;
	    width: 130px;
	}

	.dropdown:hover .dropdown-content {
	    display: block;
	}

	.dropbtn:hover {
	    background-color: #555;
	    color: white;
	}

	/* FACEBOOK-LIKE TEMPLATE */
	.row {
		display: flex;
	}

	.fb-rect {
		display: inline-block;
		width: 600px;
		height: 750px;
		background-color: white;
		margin-top: 50px;
		margin-left: 30px;
		margin-right: 50px;
		border-radius: 10px;
		box-shadow: 4px 5px 4px 3px #880808;
	}

	.profile {
		float: left;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		margin-top: 20px;
		margin-left: 93px;
	}

	.name {
		font-size: 20px;
		font-family: 'Open Sans', sans-serif;
		padding-top: 20px;
		padding-left: 200px;
	}

	.time {
		font-size: 16px;
		font-family: 'Arial', sans-serif;
		padding-left: 200px;
	}

	.divider {
		width: 450px;
	}

	.photo {
		width: 400px;
		height: 400px;
		border-style: solid;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 93px;
		margin-right: 100px;
	}

	.icon-container {
		display: inline-block;
		margin-left: 70px;
	}

	.icon {
		width: 22px;
		height: 22px;
		border-radius: 50%;
	}

	.count1 {
		display: inline-block;
		padding-left: 5px;
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		margin-top: 1px;
		margin-left: 3px;
	}

	.count2 {
		display: inline-block;
		padding-left: 5px;
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		margin-top: 1.5px;
		margin-left: 300px;
	}

	.profile-comment {
		float: left;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		margin-top: 1px;
		margin-left: 70px;
	}

	.profile-comment-name {
		position: absolute;
		font-family: 'Open Sans', sans-serif;
		margin-top: 1px;
		margin-left: 130px;
	}

	.GIF {
		width: 145px;
		height: 100px;
		margin-top: 25px;
		margin-left: 15px;
		border-radius: 10px;
		box-shadow: 3px 6px 9px 2px black;
	}
	
	/* ABOUT AND ORIGIN */
	.desc-rect {
		display: inline-block;
		width: 1150px;
		height: 750px;
		margin-top: 50px;
		margin-left: 25px;
	}

	.caption {
		display: inline-block;
		font-family: 'Archivo Black', sans-serif;
		font-size: 40px;
		padding: auto;
	}

	.desc {
		width: 1150px;
		height: 375px;
		text-align: center;
		background-color: #ffffff;
		color: #842bd7;
		border-radius: 5px;
	}

	.about {
		text-align: left;
		padding-left: 120px;
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		color: black;
	}

	.box-border {
		width: 900px;
		height: 150px;
		border-style: solid;
		margin: auto;
	}

	.text {
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		padding: 3px 10px;
		color: black;
	}

	.text2 {
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		padding-top: 5px;
		padding-left: 30px;
		padding-right: 30px;;
		color: #842bd7;
	}

	.history {
		width: 1150px;
		height: 375px;
		background-color: #842bd7;
		border-radius: 5px;
	}

	.origin {
		display: inline-block;
		text-align: left;
		padding-left: 120px;
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		color: white;
	}

	/* GROUP REACTION */
	.reaction-profile1 {
		width: 300px;
		height: 300px;
		border-radius: 50%;
		background-color: white;
		margin-left: 150px;
		margin-bottom: 15px;
	}

	.reaction-profile2 {
		width: 300px;
		height: 300px;
		border-radius: 50%;
		background-color: white;
		margin-left: 330px;
		margin-bottom: 15px;
	}

	.reaction-profile3 {
		width: 300px;
		height: 300px;
		border-radius: 50%;
		background-color: white;
		margin-left: 350px;
		margin-bottom: 15px;
	}

	.reaction-content {
		margin: auto;
		width: 550px;
		height: 300px;
		background-color: white;
		color: black;
		border-radius: 10px;
		font-family: 'Archivo Black', sans-serif;
		font-size: 25px;
		box-shadow: 3px 6px 9px 2px #842bd7;
	}

	/* AUTHOR'S NOTE */
	.author-container {
		width: 900px;
		height: 300px;
		background-color: #ffbf00;
		text-align: center;
	}

	.author-profile {
		display: inline-block;
		width: 300px;
		height: 300px;
	}

	.author-note {
		display: inline-block;
		font-family: 'Poppins', sans-serif;
		padding-left: 40px;
		padding-right: 40px;
		color: black;
	}

	/* BACK BUTTON */
	.back {
		width: 300px;
		margin-left: 40px;
		padding: 15px;
		border-radius: 10px;
		border-style: solid;
		border-color: black;
		background-color: #842bd7;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
	}

	.back:hover {
		background-color: white;
		color: #842bd7;
	}

	.next {
		width: 100px;
		padding: 15px;
		border-radius: 10px;
		border-style: solid;
		border-color: black;
		background-color: #842bd7;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		margin-left: 1400px;
	}

	.next:hover {
		background-color: white;
		color: #842bd7;
	}

	/* HIDE SCROLLBAR */

	.drop::-webkit-scrollbar {
    	display: none;
	}

	.drop {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}